<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<ul>
{% for i in news %}
    {% with "#"|add:{{ i.title }} as template %}
        {% include template %}
    {% endwith %}
    {{template}}
    <li>
    <div class="container">
        <h6>{{ i.title }}</h6>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target=>Simple collapsible</button>
          <div id={{i.title}} class="collapse">
            <p> {{ i.content }}</p>
          </div>
    </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}