<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h2 class="text-center" style="margin:20px">News</h2>
{% for i in news %}


    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{i.urlToImage}}" height="200px" width="200px">
                </div>
                <div class="col-sm-8">
                    <h4>{{ i.title }}</h4>
        <button type="button" class="btn btn-sm" data-toggle="collapse" data-target='#{{ forloop.counter}}'>view more</button>
          <div id='{{ forloop.counter}}' class="collapse">

            <p> {{ i.content }}</p>
              <a href="{{i.url}}">Visit Site</a>
          </div>
                </div>
            </div>

    </div>
    </div>
    {% endfor %}

{% endblock %}
