<!DOCTYPE html>
<h1>{{ players.name }}</h1>
<p>{{ players.born }}</p>
<P>{{players.birth}}</P>
<P>{{players.role}}</P>
<P>{{players.batstyle}}</P>
<P>{{players.ballstyle}}</P>
<P>{{players.profile}}</P>
<P>{{players.Bat.odibat.M}}</p>
<p>{{players.Bat.odibat.Inn}}</p>
<p>{{players.Bat.odibat.NO}}</p>
<p>{{players.Bat.odibat.Runs}}</p>
<p>{{players.Bat.odibat.HS}}</p>
<p>{{players.Bat.odibat.Avg}}</p>
<p>{{players.Bat.odibat.BF}}</p>
<p>{{players.Bat.odibat.SR}}</p>
<p>{{players.Bat.odibat.century}}</p>
<p>{{players.Bat.odibat.double}}</p>
<p>{{players.Bat.odibat.fifty}}</p>
<p>{{players.Bat.odibat.Fours}}</p>
<p>{{players.Bat.odibat.Sixes}}</p>