<!DOCTYPE html>
<head>
    <style>

    </style>
</head>
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <a href="{% url 'CRiC11:more' %}" class="btn btn-primary">view more</a>
</div>
{% if value %}

{% for i in value %}

<div class="jumbotron">
    <h3 class="text-center">{{i.batting.team}} VS {{i.bowling.team}}</h3>
    <div class='container-fluid'>
        <div class='container'>

            <p>{{ i.batting.team }}</p>


            <p>{{ i.batting.score.0.runs }} / {{ i.batting.score.0.wickets }}</p>


        </div>
        <div class='container'>
            {% for j in i.batting.batsman %}

                    <p>{{ j.name }}  {{j.runs}}

{% endfor %}
                </div>
         <div class='container'>


             <p>Run Rate : {{ i.run_rate }}  Overs : {{ i.bowling.score.0.overs }}</p>
             <p>P'ship : {{i.patnership}}</p>
             <p>Prev Overs : {{i.prev_overs}}</p>
               <div class='container'>
            {% for j in i.bowling.bowler %}

                    <p>{{ j.name }} : {{j.wickets}}/{{j.runs}}

{% endfor %}
                </div>

        </div>
        </div>
</div>


{% endfor %}

{% else %}
<p> No Data Available</p>
{% endif %}
{% endblock %}